<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiYmFsZWJveSIsImEiOiJjbHdibnF6ZTQwbWx4MnFwbGxxN3MwZm84In0.YwbmInWau4Y2WL89C_ayyA</string>
</dict>
</plist>
